@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Edu+AU+VIC+WA+NT+Hand&family=Noto+Sans+Hebrew&display=swap");
* {
  margin: 0;
  font-family: "Heebo", sans-serif;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  text-decoration: none;
  color: var(--fontRegular);
  scrollbar-color: #dfc06f #fffaf0;
  scrollbar-width: thin;
}
button {
  background: none;
  cursor: pointer;
}
button,
a {
  font-family: "Heebo", sans-serif;
  * {
    font-family: "Heebo", sans-serif;
  }
}
body {
  height: min-content;
}

#root {
  --headerHeight: 6rem;

  position: relative;
  padding-top: var(--headerHeight);
  --colorFontRegular: #282828;
  --colorFontHeader: #fffaf0;
  --colorBackgroundMain: #fffaf0;
  --colorBackgroundMainOpacity50: #fffaf0ee;
  --colorBackgroundMainOpacity100: #fffaf03f;
  --colorBackgroundSecondary: #dfc06f;
  --colorBackgroundSecondaryOpacity: #dfc06faa;
  --colorBackgroundSecondaryOpacity: #dfc06fb0;
  --colorClicableElement: #7e786c;

  --fontBig: 2.6rem;
  --fontMedium: 2rem;
  --fontRegular: 1.6rem;
  --fontSmal: 1rem;
}
/* header */
header {
  z-index: 10;
  top: 0;
  position: fixed;
  width: 100%;
  height: var(--headerHeight);
  display: flex;
  background-color: var(--colorBackgroundMain);
  border-bottom: 1rem solid var(--colorBackgroundSecondary);
  .showNav {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: var(--fontBig);
    /* &:hover {
      &::before {
        scale: 1.1;
      }
    } */
    &::before {
      content: "\2630";
      margin-left: 25%;
      color: var(--colorClicableElement);
      animation: noActiveIconNav 0.5s;
    }
    &.active::after {
      position: absolute;
      top: 100%;
      content: "";
      width: 100%;
      height: 100vh;
    }
  }
  .headerLogo {
    display: flex;
    position: absolute;
    right: 10%;
    height: 100%;
    width: 45%;
    img {
      object-fit: contain;
      width: 100%;
      max-height: 100%;
    }
  }
  &.shrink {
    --headerHeight: 3rem;
    .showNav {
      font-size: var(--fontSmal);
    }
  }
  &:has(nav.active) {
    --headerHeight: 6rem;
    .showNav {
      font-size: var(--fontBig);
      &::before {
        animation: activeIconNav 0.5s;
        content: "\26CC";
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
      }
    }
  }
}

nav {
  position: absolute;
  top: var(--headerHeight);
  left: 0;
  display: grid;
  grid-template-rows: repeat(2, 0);
  grid-template-columns: 1fr;
  background-color: var(--colorBackgroundMain);
  max-height: calc(100vh - 5rem);
  width: 100%;
  color: var(--colorClicableElement);
  transform: translate(-100%, 0);
  transition: transform 0.1s;
  z-index: -1;
  &.active {
    transform: translate(0, 0);
  }
  * {
    overflow: hidden;
  }
  .navSection {
    transition: grid-template-rows 0.1s;
    color: var(--colorClicableElement);
    display: grid;
    grid-template-rows: calc(var(--headerHeight) - 1rem) 0fr;
    grid-template-columns: 1fr;
    .showSectionNav {
      height: calc(var(--headerHeight) - 1rem);
      color: var(--colorClicableElement);
      background-color: var(--colorBackgroundMain);
    }
  }
  .activeSection {
    grid-template-rows: calc(var(--headerHeight) - 1rem) 3fr;
    .showSectionNav {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 90%;
        left: 5%;
        width: 90%;
        height: 2px;
        background-color: var(--colorFontRegular);
      }
    }
    ul {
      padding: 1rem 5px;
      overflow-y: auto;
      background-color: var(--colorBackgroundMain);

      li {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 38px,
          rgba(0, 0, 0, 0.22) 0px 5px 12px;
      }
    }
  }
  .navList {
    background-color: var(--colorBackgroundMain);
    display: grid;
    grid-auto-rows: 3rem;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    .navigationElement {
      border-radius: 20px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      text-align: center;
      color: var(--colorClicableElement);
      background-color: var(--colorBackgroundMain);
      .navLlink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--colorBackgroundSecondaryOpacity);
        color: var(--colorClicableElement);

        span {
          display: block;
          width: 100%;
        }
      }
    }
    .navigationElement:hover {
      text-decoration: underline;
      scale: 1.01;
      overflow: hidden;
    }
  }
  .contactList {
    display: grid;
    gap: 5px;
    grid-auto-rows: minmax(20vh, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    li {
      padding-top: 5px;
      background-color: var(--colorBackgroundSecondary);
      border-radius: 20px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      a,
      button {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--colorClicableElement);
        p {
          width: 100%;
          height: 20%;
          font-size: var(--fontRegular);
        }
        img {
          object-fit: contain;
          max-width: 50%;
          max-height: 20vh;
          border-radius: 50%;
        }
      }
    }
    li:hover {
      scale: 1.02;
    }
  }
}
.copyInfo::after {
  content: "skopiowano";
  position: absolute;
  top: 0%;
  background-color: var(--colorBackgroundMain);
  padding: 5px;
  border-radius: 5px;
}
/* main */

.mainList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.segment {
  overflow-x: hidden;
  --backgroundRotate: 125deg;
  background-image: linear-gradient(
    var(--backgroundRotate),
    var(--colorBackgroundMain) 20%,
    #0000 45% 55%,
    var(--colorBackgroundMain) 85%
  );
  background-size: 90% calc(100% - 100vh);
  background-position: center calc(100dvh - var(--headerHeight));
  background-repeat: repeat-x;
  display: grid;
  grid-template:
    calc(100dvh - var(--headerHeight))
    minmax(90dvh, auto) repeat(2, auto) 100dvh / 1fr 30ch repeat(2, 2fr)
    1fr;
  .backgroundIMG {
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    -webkit-user-drag: none;
    -moz-user-select: none;
    grid-area: 1/1/-1/-1;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100vh;
      object-fit: contain;
    }
  }
  .title {
    grid-area: 1/1/2/-1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0;
    row-gap: 0.3rem;
    border-bottom: 2rem solid var(--colorBackgroundSecondaryOpacity);
    * {
      background: var(--colorBackgroundSecondaryOpacity);
      padding: 0.2rem 0;
    }
    h2 {
      font-family: "Bodoni Moda SC", serif;

      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
      width: 99vw;
      font-size: calc(var(--fontBig) * 1.2);
      color: var(--colorFontHeader);
    }
    p {
      width: 90vw;
    }
  }
  h2 {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  article {
    font-size: var(--fontMedium);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    grid-area: 2/2/3/4;
    text-align: center;
    text-indent: 20px;
    background-color: var(--colorBackgroundMain);
    color: var(--colorFontRegular);
    justify-content: center;
    padding: 1rem 2ch;
    display: grid;
    gap: 1em;
    border-radius: 5px;
    p {
      position: relative;
    }
    p::after {
      position: absolute;
      left: 0;
      top: 100%;
      content: "";
      width: 100%;
      height: 5px;
      background-color: var(--colorBackgroundSecondary);
    }
  }

  .segmentbreak {
    grid-area: 4/1/5/-1;
    background-image: linear-gradient(
      125deg,
      var(--colorBackgroundMain),
      var(--colorBackgroundSecondary)
    );
    box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 12px 10px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
    padding: 0.5rem 0;
    font-size: var(--fontRegular);
  }
  .galery {
    grid-area: 5 /1/-1/-1;
    display: grid;
    grid-template: calc(70vh - 5rem) 30dvh/99vw;
    background-image: linear-gradient(
      var(--colorBackgroundMain) 0%,
      #0000 45%,
      var(--colorBackgroundMain) 80%
    );
    padding-top: 1rem;
    row-gap: 5vh;
    position: relative;
    div {
      cursor: pointer;
      height: calc(70vh - 5rem);
      grid-area: 1/1/2/2;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        object-fit: cover;
        max-height: calc(70vh - 5rem);
        max-width: 100%;
        &:hover {
          scale: 1.1;
          box-shadow: 0 5px 5px 5px #00000055;
        }
      }
    }
    div.zoom {
      backdrop-filter: blur(10px);
      top: 0;
      left: 0;
      z-index: 30;
      position: fixed;
      width: 100vw;
      height: 100vh;
      &::after {
        content: "\2297";
        position: absolute;
        aspect-ratio: 1/1;
        font-size: 2rem;
        top: 5px;
        left: 90%;
        color: var(--colorClicableElement);
      }
      img {
        object-fit: auto;
        max-height: 100vh;
        max-width: 99vw;
        &:hover {
          scale: 1;
        }
      }
    }
    ul {
      grid-area: 2/1/3/3;
      width: 100%;
      display: flex;
      overflow-x: auto;
      justify-content: space-evenly;
      align-items: center;
      li {
        height: 22vh;
        img {
          cursor: pointer;
          object-fit: cover;
          height: 20vh;
          &:hover {
            scale: 1.1;
          }
        }
      }
    }
    button {
      position: absolute;
      top: calc(35% - 2.5ch);
      width: 3ch;
      aspect-ratio: 1 / 1;
      font-weight: bold;
      color: var(--colorClicableElement);
      font-size: var(--fontMedium);
      text-shadow: 1px 1px 2px var(--colorBackgroundMain);
    }
    .arrowRight {
      left: calc(100% - 4ch);
    }
    .arrowLeft {
      left: 1ch;
    }
    button.zoom {
      top: calc(50% - 1.5ch);
      position: fixed;
      z-index: 31;
    }
  }
}
footer {
  width: 100%;
  border-top: solid 5px #131313;
  height: var(--fontBig);
  font-size: var(--fontSmal);
  color: var(--colorFontRegular);
  background-color: var(--colorFontRegular);
  text-shadow: 1px 1px 2px var(--colorBackgroundMain);
  ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    li {
      * {
        font-size: var(--fontSmal);
        color: var(--colorFontRegular);
        text-shadow: 1px 1px 2px var(--colorBackgroundMain);
      }
    }
  }
}
@media (width <= 500px) {
  header {
    .activeSection {
      ul {
        grid-template-columns: 100%;
        grid-auto-rows: min-content;

        li {
          aspect-ratio: auto;
          line-height: 2.5rem;
        }
      }
    }
  }
  .segment {
    article {
      font-size: var(--fontSmal);
    }
    .title {
      h2 {
        font-size: var(--fontRegular);
      }
    }
  }
}

@media (width >= 500px) {
  header {
    .showSectionNav {
      font-size: var(--fontMedium);
    }
    .activeSection {
      ul {
        grid-template-columns: repeat(2, minmax(min-content, 50%));
        li {
          * {
            font-size: var(--fontRegular);
          }
        }
      }
    }
    nav {
      .navList {
        .navigationElement {
          align-items: start;
          position: relative;
          aspect-ratio: 1/1;
          background-size: cover, auto;
          .navLlink {
            background-color: transparent;
            span {
              background-color: var(--colorFontRegular);
              color: var(--colorFontHeader);
            }
          }
          &:nth-child(1) {
            background-image: url("./media/Produkty/324497975_615217670412758_4412985866923301303_n.jpg");
          }
          &:nth-child(2) {
            background-image: url("./media/slub/couple-443600_1280.jpg");
          }
          &:nth-child(3) {
            background-image: url("./media/chrzciny/490978-352x500.jpg");
          }
          &:nth-child(4) {
            background-image: url("./media/komunia/cross-4377477_1280.jpg");
          }
          &:nth-child(5) {
            background-image: url("./media/urodziny/carnival-4092632_1280.jpg");
          }
          &:nth-child(6) {
            background-image: url("./media/eventy/girl-4663792_1280.jpg");
          }
        }
      }
      .navList,
      .contactList {
        grid-auto-rows: auto;
      }
    }
  }
}
@media (width >= 650px) {
  header {
    .showSectionNav {
      font-size: var(--fontMedium);
    }
    .activeSection {
      ul {
        grid-template-columns: repeat(3, minmax(min-content, 1fr));
        li {
          aspect-ratio: 1/1;
        }
      }
      .contactList {
        grid-template-columns: repeat(3, minmax(max-content, 1fr));

        li {
          padding: 5px;
          aspect-ratio: auto;
        }
      }
    }
  }
}
@media (width < 1400px) {
  nav {
    grid-template-rows: repeat(2, 0);
  }
  nav.active {
    border-block: 1rem solid var(--colorBackgroundSecondary);
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    overflow: auto;
    gap: 1rem;
    .navSection {
      box-shadow: rgba(0, 0, 0, 0.22) 0 0 20px 20px;
    }
  }
}
@media (width >= 1400px) {
  header {
    height: var(--headerHeight);
    justify-content: space-between;
    padding: 0 5ch 0 0;
    box-shadow: 0 0 20px 20px #00000055;
    img {
      object-fit: contain;
      max-height: var(--headerHeight);
      max-width: auto;
    }

    &.shrink {
      --headerHeight: 4rem;
      .showSectionNav {
        font-size: var(--fontSmal);
      }
      nav {
        .navSection {
          .showSectionNav {
            font-size: var(--fontRegular);
          }
        }
      }
    }
    .showNav {
      display: none;
    }
    nav {
      max-width: 50%;
      overflow: visible;
      grid-template-rows: 1fr;
      grid-gap: 5px;
      grid-template-columns: 1fr 1fr;
      position: static;
      transform: none;
      &.active {
        position: static;
      }
      .navSection {
        overflow: visible;
        margin-left: 2ch;
      }
      .navList,
      .contactList {
        width: 0;
        height: 0;
      }
      .activeSection {
        .showSectionNav::before {
          position: fixed;
          left: 0;
          top: var(--headerHeight);
          width: 100vw;
          height: 100vh;
          content: "";
        }
        ul {
          position: absolute;
          left: 27vw;
          top: var(--headerHeight);
          width: max-content;
          border-radius: 0 0 20px 20px;
          height: auto;
          grid-template-columns: repeat(3, minmax(min-content, calc(45vw / 3)));
          box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.447);
        }
      }
    }
  }
}
@keyframes activeIconNav {
  0% {
    transform: scale(1);
    content: "\2630";
  }
  50% {
    transform: scale(0) rotate(0.5turn);
    content: "\2630";
  }
  51% {
    content: "\26CC";
  }
  100% {
    transform: scale(1);
  }
}
@keyframes noActiveIconNav {
  0% {
    transform: scale(1);
    content: "\26CC";
  }
  50% {
    transform: scale(0) rotate(0.5turn);
    content: "\26CC";
  }
  51% {
    content: "\26CC";
    content: "\2630";
  }
  100% {
    transform: scale(1);
  }
}
